.div-home {
    display: flex;
    justify-content: center;
    background: linear-gradient(220.55deg, #42a0de 0%, #c08cfb 100%);
    height: 100vh;
}

.title {
    display: flex;
    text-align: center;
    align-items: center;
}
.ulises{
    font-size: 7rem;
}
.fsd{
    font-size: 3rem;
}
@media screen and (max-width: 750px) {
.title{
    font-size: 2rem;
    color: white;
}
.fsd{
    font-size: 2rem;
}
}