.div-home {
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-wrap: wrap;
    color: white
}

.title {
    display: flex;
    text-align: center;
    align-items: center;
}
.ulises{
    font-size: 7rem;
}
.fsd{
    font-size: 3rem;
}
.button{
    display: flex;
    position: absolute;
    bottom: 5rem;
    font-size: 3rem;
    flex-wrap: wrap;
}
.aboutme{
    width: 100%;
    margin-top: 100%;
}
@media screen and (max-width: 750px) {
.title{
    font-size: 2rem;
    color: white;
}
.fsd{
    font-size: 2rem;
}
.button{
    position: absolute;
    right: none;
    bottom: 5rem;
    justify-content: center;
}
.abutton{
    width: 100%;
    text-align: center;
}
.button{
    width: 100%;
}
}