.div-home {
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-wrap: wrap;
    color: white
}

.title {
    display: flex;
    text-align: center;
    margin-top: 15%;
}
.ulises{
    font-size: 10rem;
}
.fsd{
    font-size: 3rem;
}
.button{
    display: flex;
    position: absolute;
    justify-content: center;
    bottom: 0;
    font-size: 3rem;
    flex-wrap: wrap;
}
.homeButton{
    height: 4rem;
    width: 4rem;
    background-color: rgba(10, 92, 165, 0.666);
    border-radius: 50%;
    font-size: 2rem;
    align-items: center;
    border: none;
    margin: 5%;
}
.arrow{
    margin-top: 16%;
    color: rgba(255, 252, 252, 0.985);
}
.homeButton:hover{
    background-color: rgb(10, 93, 165);;
}


.aboutme{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.div-me{
    width: 50%;
    text-align: center;
    margin-top: 1rem;
    color: white;
}
.title-about{
    font-size: 3rem;
}
@media screen and (max-width: 750px) {
.title{
    margin-top: 40%;
    font-size: 2rem;
    color: white;
}
.ulises{
    font-size: 7rem;
}
.fsd{
    font-size: 2rem;
}
.button{
    position: absolute;
    right: none;
    bottom: 1rem;
    justify-content: center;
}
.abutton{
    width: 100%;
    text-align: center;
}
.button{
    width: 100%;
}
.div-me{
    width: 100%;
}
}
